* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #b2f2bb;
  padding: 20px;
}

header{
  display: flexbox;
  border-radius: 20px;
  color: white;
  background-color: #1E532E;
  padding: 5px;
  border: 5px solid green;
  margin-bottom: 20px;
}

h1{
  text-align: center;
  font-size: 50px;
  }

span2{
  color: #8EC641;
  font-size: 50px;
  
}

.container {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 100px;
  background-color:  #b2f2bb;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.34);
}

#title {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.input_grupo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input_grupo input[type="url"] {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 14px;
}

.input_grupo button {
  padding: 10px 20px;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 14px;
}

.links-list {
  list-style-type: none;
  padding: 0;
}

.links-list li {
  margin-bottom: 10px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.links-list li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.links-list li a img {
  width: 30px;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
}
#link2{
  color: #1E532E;
  margin-top: 30px;
  border:none;
  width: 160px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.34);
}

#link option{
  border: none;
  border-radius: 5px;
}
select[name]{ 
    background-color: #69db7c;
    font-family: Arial;
    border: 4px solid;
    border-color:#2f9e44;
    border-radius: 20px;
    font-size: 35px;
    color: #099268;
}

select option {
    color: white;
}

select {
    padding: 2px;
    font-size: 30px;
    border-radius: 50px;
    border: 1px solid #1E532E;
    background-color: #69db7c;
    width: 100%;
    max-width: 350px;
    margin-bottom: 10px;
}
#link2 {
    margin-right: -50%;
    margin-top: 500px;
    padding: 3px;
    border-radius: 8px;
    background-color: #69db7c;
}
