header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    background-color: #1E532E;
    padding: 15px;
    border: 5px solid green;
    width: 100%;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: #b2f2bb;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calendar-controls {
    text-align: center;
    margin: 20px;
}

.calendar-controls button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #1E532E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.calendar-controls button:hover {
    background-color: #145a32;
}

.calendar-controls span {
    font-size: 15px;
    font-weight: bold;
}

.calendar {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    max-width: 800px;
    margin: 40px auto;
    padding: 0 10px;
    box-sizing: border-box;
}

.day {
    font-size: 15px;
    padding: 30px;
    background-color: #10f38d;
    text-align: center;
    cursor: pointer;
    border: 1px solid #05a23f;
    border-radius: 20px;
}

.day:hover {
    background-color: #06ad89;
}

.sales-info {
    font-size: 15px;
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #69db7c;
    border: 5px solid #2f9e44;
    border-radius: 40px;
    box-sizing: border-box;
    display: none;
}

span2 {
    color: #69db7c;
}

/* Responsiveness */
@media (max-width: 768px) {
    body {
        font-size: 18px;
    }

    .calendar {
        grid-template-columns: repeat(7, 1fr);
        gap: 5px;
        margin: 20px auto;
        max-width: 100%;
    }

    .day {
        font-size: 14px;
        padding: 20px;
    }

    .sales-info {
        font-size: 14px;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 16px;
    }

    .calendar {
        grid-template-columns: repeat(7, 1fr);
        gap: 2px;
        margin: 10px auto;
        max-width: 100%;
    }

    .day {
        font-size: 12px;
        padding: 10px;
    }

    .sales-info {
        font-size: 12px;
        padding: 10px;
    }
}
